.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  /* background: darkcyan; */
  left: 0;
  margin-top: 60px;
  bottom: 10;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 9;
}
.Close-Btn{
  float: right;
  padding-right: 50px;
}
.menuNav.showMenu {
  width: 100%;
  background: white;
}

.Menu-Icon-Container a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
}

/* .menuNav li:first-child {
  margin-top: 7rem;
} */






body{
  /* background-color: #EFF7FF; */
  /* width: 100%; */
}
.Modal_Container{
  /* background-color: red; */
  width: 100%;
}
.Mobile-Links a{
  padding-top: 24px;
  text-decoration: none;
}
.Modal_Container a {
  padding: 32px;
}
.Nuts-Logo{
  padding-top: 12px;
}
.Header-Section{
  /* background-color: #EFF7FF; */
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  /* background-color: aquamarine; */
  /* color: white; */
 /* background-color: white; */
 /* position: fixed; */
 width: 100%;
 top: 0px;
 overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.Nav-Logo{
  display: flex;
  padding-left: 52px;
  /* background-color: red; */

}
.Nav-Logo a{
  text-decoration: none;
  color: black;
}
.Nav-Logo h3 {
  padding-top: 7px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  /* color: blue; */
  /* padding-left: 12px; */
  font-weight: bolder;
}
.Nav-Items{
  padding-top: 25px;
  /* background-color: yellowgreen; */
 
}
.Nav-Items nav a {
  padding: 20px;
  color: black;
  font-weight: light;
  text-decoration: none;
  pointer-events: stroke;
  
}
.Nav-Items nav a:hover{
  background-color: #d9ebfc;
  color: black;
  
}
.Nav-Items nav{
  float: right;
  
 
}
.Menu-Icon-Container{
  opacity: 0.01;
  display: hidden;
}


/* Home page css starts here for main body */

/* presidential container css here */
.President-Container{
  background-color: whitesmoke;
  width: 100%;
  /* padding: 20px;
  height: 500px; */
}
.President-Container-Inner{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  width: 100%;
}
.President-Image-Holder{
  background-color: white;
  padding: 40px;
 
}
.President-Image{
  width: 474px;
  height: 434px;
}
.President-Writeup-Holder{
  background-color: white;
  padding: 20px;
}

/* css upcoming events and activities here */
.Events-Container{
  /* background-color: rebeccapurple; */
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* width: 70%;
  height: 1000px; */
}
.Upcoming-Events-Header{
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}
/* .Events-Container-Outer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
.Events-Container-Inner{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 210px;
  width: 500px;
  /* position: absolute; */
  border: 1px solid #ddd;
}
.Event-Date-Section{
  border-right: 1px solid #ddd;
  width: 75px;
}
.Event-Date-Section-Inner{
  padding: 10px;
  margin: 40px;
  width: 99px;
  height: 88px;
  background-color: #2E7159;
  color: white;
  text-align: center;
  border-radius: 5px;
}
/* .Event-Date-Section-Inner h4{
  font-weight: bolder;
  font-size: larger;
} */
.Events-Title-Section{
  /* background-color: red; */
  /* padding: 40px; */
}
.Events-Title-Section-Inner{
  text-decoration: underline;
  padding-top: 40px;
  padding-left: 40px;
}
.Events-Title-Section-Inner p{
  font-weight: bold;
}
.Events-Title-Section-Inner1{
  display: flex;
  padding-top: 30px;
 
}
.Events-Title-Section-Inner1 p{
  font-weight: light;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Time{
  padding-left: 30px;
  float: right;
}

/* phone view nav css */
@media screen and (max-width: 650px){

  /* .Header-Section{
 background-color: white;
 box-shadow: 0 0 9px 3px rgba(132, 131, 131, 0.2);

  } */
  .App {
    font-size: 16px;
    font-weight: 300;
    /* line-height: 20px; */
    /* text-align: justify; */
  }
  .Nav-Items nav{
    display: none;
    /* padding-top: 25px; */
    /* background-color: yellowgreen; */
   
  }
  .Nav-Logo{
    
    padding-left: 12px;
    /* background-color: red; */
  
  }
  .Menu-Icon-Container{
    float: right;
    opacity: 1;
    padding-right: 15px;
    font-size: 23px;
  }
  .Menu-Icon-Container Modal {
    width: 100%;
  }
 .MenuIcon{
  font-size: 40px;
 }
  .Home-display-pic{
    padding: 24px;
    width: auto;
    height: 200px;
  }
  .President-Container{
    background-color: rgb(213, 168, 168);
    /* padding: 20px;
    height: 1300px; */
  }
  .President-Container-Inner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 100%;
    
  }
  .President-Image-Holder{
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
   
  }
  .President-Image{
    width: 324px;
    height: 334px;
  }

  .Events-Container{
    /* background-color: rebeccapurple; */
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    /* height: 1000px; */
  }
  .Events-Container-Inner{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* height: 150px; */
    width: 100%;
    /* position: absolute; */
    border: 1px solid #ddd;
  }
  .Event-Date-Section-Inner{
    padding: 5px;
    margin: 20px;
    width: 69px;
    /* height: 68px; */
    background-color: #2E7159;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  .Events-Title-Section-Inner{
    text-decoration: underline;
    padding-top: 20px;
    padding-left: 25px;
  }
  .Events-Title-Section-Inner1{
    display: flex;
    padding-top: 1px;
   
  }
  
}